#counterlabel {
  display: block;
  text-align: center;
  font-size: 10em;
  font-family: Poppins;
  color: #0f0f0f;
  margin-top: 10px;
}
#countercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  align-self: center;
}
.button {
  background-color: #3057a3;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid #0f0f0f;
  cursor: pointer;
  align-self: center;
  font-size: 1.5em;
  font-family: Arial, sans-serif;
}